In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url='https://fbref.com/en/comps/9/Premier-League-Stats' #Premier League

r=requests.get(url)
print('Scraping status : ',r.status_code)

Scraping status :  200

In [5]:
soup=BeautifulSoup(r.text)
rows=soup.find('table', {'id':'results111601_overall'}).find_all('tr')

In [23]:
headers=['club','code','slug']
data=[]
for row in rows[1:]:
    club=row.find('td').text.strip()
    code=row.find('td').a.get('href').split('/')[3]
    slug=row.find('td').a.get('href').split('/')[4].strip('-Stats')
    data.append([club,code,slug])
df=pd.DataFrame(data=data,columns=headers)
df

               club      code                      slug
0   Manchester City  b8fd03ef           Manchester-City
1         Liverpool  822bd0ba                 Liverpool
2           Chelsea  cff3d9bb                    Chelse
3          West Ham  7c21e445           West-Ham-United
4           Arsenal  18bb7c10                   Arsenal
5         Tottenham  361ca564         Tottenham-Hotspur
6    Manchester Utd  19538871         Manchester-United
7            Wolves  8cec06e1    Wolverhampton-Wanderer
8          Brighton  d07537b9  Brighton-and-Hove-Albion
9    Leicester City  a2d435b3            Leicester-City
10   Crystal Palace  47c64c55            Crystal-Palace
11      Southampton  33c895d4                outhampton
12      Aston Villa  8602292d                Aston-Vill
13        Brentford  cd051869                 Brentford
14     Leeds United  5bfb9659              Leeds-United
15          Everton  d3fd31cc                   Everton
16          Watford  2abfe087                   Watford
17     Norwich City  1c781004              Norwich-City
18    Newcastle Utd  b2b47a98          Newcastle-United
19          Burnley  943e8050                   Burnley

In [27]:
[x[:3].upper() for x in list(df.club)]

['MAN',
 'LIV',
 'CHE',
 'WES',
 'ARS',
 'TOT',
 'MAN',
 'WOL',
 'BRI',
 'LEI',
 'CRY',
 'SOU',
 'AST',
 'BRE',
 'LEE',
 'EVE',
 'WAT',
 'NOR',
 'NEW',
 'BUR']

In [28]:
team=['MCI',
 'LIV',
 'CHE',
 'WHU',
 'ARS',
 'TOT',
 'MUN',
 'WOL',
 'BHA',
 'LEI',
 'CRY',
 'SOU',
 'AVL',
 'BRE',
 'LEE',
 'EVE',
 'WAT',
 'NOR',
 'NEW',
 'BUR']

In [29]:
df['team']=team

In [30]:
df

               club      code                      slug team
0   Manchester City  b8fd03ef           Manchester-City  MCI
1         Liverpool  822bd0ba                 Liverpool  LIV
2           Chelsea  cff3d9bb                    Chelse  CHE
3          West Ham  7c21e445           West-Ham-United  WHU
4           Arsenal  18bb7c10                   Arsenal  ARS
5         Tottenham  361ca564         Tottenham-Hotspur  TOT
6    Manchester Utd  19538871         Manchester-United  MUN
7            Wolves  8cec06e1    Wolverhampton-Wanderer  WOL
8          Brighton  d07537b9  Brighton-and-Hove-Albion  BHA
9    Leicester City  a2d435b3            Leicester-City  LEI
10   Crystal Palace  47c64c55            Crystal-Palace  CRY
11      Southampton  33c895d4                outhampton  SOU
12      Aston Villa  8602292d                Aston-Vill  AVL
13        Brentford  cd051869                 Brentford  BRE
14     Leeds United  5bfb9659              Leeds-United  LEE
15          Everton  d3fd31cc                   Everton  EVE
16          Watford  2abfe087                   Watford  WAT
17     Norwich City  1c781004              Norwich-City  NOR
18    Newcastle Utd  b2b47a98          Newcastle-United  NEW
19          Burnley  943e8050                   Burnley  BUR

In [36]:
team_code_dict={}
team_slug_dict={}
team_name_dict={}
for i in range(df.shape[0]):
    team_code_dict.update({df.team[i]:df.code[i]})
    team_slug_dict.update({df.team[i]:df.slug[i]})
    team_name_dict.update({df.team[i]:df.club[i]})

In [37]:
team_code_dict

{'MCI': 'b8fd03ef',
 'LIV': '822bd0ba',
 'CHE': 'cff3d9bb',
 'WHU': '7c21e445',
 'ARS': '18bb7c10',
 'TOT': '361ca564',
 'MUN': '19538871',
 'WOL': '8cec06e1',
 'BHA': 'd07537b9',
 'LEI': 'a2d435b3',
 'CRY': '47c64c55',
 'SOU': '33c895d4',
 'AVL': '8602292d',
 'BRE': 'cd051869',
 'LEE': '5bfb9659',
 'EVE': 'd3fd31cc',
 'WAT': '2abfe087',
 'NOR': '1c781004',
 'NEW': 'b2b47a98',
 'BUR': '943e8050'}

In [38]:
team_name_dict

{'MCI': 'Manchester City',
 'LIV': 'Liverpool',
 'CHE': 'Chelsea',
 'WHU': 'West Ham',
 'ARS': 'Arsenal',
 'TOT': 'Tottenham',
 'MUN': 'Manchester Utd',
 'WOL': 'Wolves',
 'BHA': 'Brighton',
 'LEI': 'Leicester City',
 'CRY': 'Crystal Palace',
 'SOU': 'Southampton',
 'AVL': 'Aston Villa',
 'BRE': 'Brentford',
 'LEE': 'Leeds United',
 'EVE': 'Everton',
 'WAT': 'Watford',
 'NOR': 'Norwich City',
 'NEW': 'Newcastle Utd',
 'BUR': 'Burnley'}

In [39]:
team_slug_dict

{'MCI': 'Manchester-City',
 'LIV': 'Liverpool',
 'CHE': 'Chelse',
 'WHU': 'West-Ham-United',
 'ARS': 'Arsenal',
 'TOT': 'Tottenham-Hotspur',
 'MUN': 'Manchester-United',
 'WOL': 'Wolverhampton-Wanderer',
 'BHA': 'Brighton-and-Hove-Albion',
 'LEI': 'Leicester-City',
 'CRY': 'Crystal-Palace',
 'SOU': 'outhampton',
 'AVL': 'Aston-Vill',
 'BRE': 'Brentford',
 'LEE': 'Leeds-United',
 'EVE': 'Everton',
 'WAT': 'Watford',
 'NOR': 'Norwich-City',
 'NEW': 'Newcastle-United',
 'BUR': 'Burnley'}

In [40]:
pl_teams={
    'slug':team_slug_dict,
    'name':team_name_dict,
    'code':team_code_dict
}

In [41]:
pl_teams

{'slug': {'MCI': 'Manchester-City',
  'LIV': 'Liverpool',
  'CHE': 'Chelse',
  'WHU': 'West-Ham-United',
  'ARS': 'Arsenal',
  'TOT': 'Tottenham-Hotspur',
  'MUN': 'Manchester-United',
  'WOL': 'Wolverhampton-Wanderer',
  'BHA': 'Brighton-and-Hove-Albion',
  'LEI': 'Leicester-City',
  'CRY': 'Crystal-Palace',
  'SOU': 'outhampton',
  'AVL': 'Aston-Vill',
  'BRE': 'Brentford',
  'LEE': 'Leeds-United',
  'EVE': 'Everton',
  'WAT': 'Watford',
  'NOR': 'Norwich-City',
  'NEW': 'Newcastle-United',
  'BUR': 'Burnley'},
 'name': {'MCI': 'Manchester City',
  'LIV': 'Liverpool',
  'CHE': 'Chelsea',
  'WHU': 'West Ham',
  'ARS': 'Arsenal',
  'TOT': 'Tottenham',
  'MUN': 'Manchester Utd',
  'WOL': 'Wolves',
  'BHA': 'Brighton',
  'LEI': 'Leicester City',
  'CRY': 'Crystal Palace',
  'SOU': 'Southampton',
  'AVL': 'Aston Villa',
  'BRE': 'Brentford',
  'LEE': 'Leeds United',
  'EVE': 'Everton',
  'WAT': 'Watford',
  'NOR': 'Norwich City',
  'NEW': 'Newcastle Utd',
  'BUR': 'Burnley'},
 'code': {'MCI': 'b8fd03ef',
  'LIV': '822bd0ba',
  'CHE': 'cff3d9bb',
  'WHU': '7c21e445',
  'ARS': '18bb7c10',
  'TOT': '361ca564',
  'MUN': '19538871',
  'WOL': '8cec06e1',
  'BHA': 'd07537b9',
  'LEI': 'a2d435b3',
  'CRY': '47c64c55',
  'SOU': '33c895d4',
  'AVL': '8602292d',
  'BRE': 'cd051869',
  'LEE': '5bfb9659',
  'EVE': 'd3fd31cc',
  'WAT': '2abfe087',
  'NOR': '1c781004',
  'NEW': 'b2b47a98',
  'BUR': '943e8050'}}

In [42]:
import json

In [43]:
with open('pl_teams.json', 'w') as outfile:
    json.dump(pl_teams, outfile)